{{ ansible_managed | comment }}

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

{% if not (ansible_os_family == "RedHat" and ansible_distribution_major_version < "9") %}
# To modify the system-wide sshd configuration, create a  *.conf  file under
#  /etc/ssh/sshd_config.d/  which will be automatically included below
Include /etc/ssh/sshd_config.d/*.conf
{% endif %}

# If you want to change the port on a SELinux system, you have to tell
# SELinux about this change.
# semanage port -a -t ssh_port_t -p tcp #PORTNUMBER

Port {{ ssh_port }}
AddressFamily {{ ssh_address_family }}
#ListenAddress 0.0.0.0
#ListenAddress ::

# Supported HostKey algorithms by order of preference.
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

# Ciphers and keying
#RekeyLimit default none
HostKeyAlgorithms {{ ssh_crypto_hostkey_algos | default(__ssh_crypto_hostkey_algos, true) | join(',') }}
KexAlgorithms {{ ssh_crypto_kex_algos | default(__ssh_crypto_kex_algos, true) | join(',') }}
Ciphers {{ ssh_crypto_ciphers | default(__ssh_crypto_ciphers, true) | join(',') }}
MACs {{ ssh_crypto_macs | default(__ssh_crypto_macs, true) | join(',') }}

# Logging
SyslogFacility {{ ssh_syslog_facility | default(__ssh_syslog_facility, true) }}
LogLevel {{ ssh_log_level }}

# Authentication:

#LoginGraceTime 2m
PermitRootLogin {{ ssh_permit_root_login }}
#StrictModes yes
#MaxAuthTries 6
#MaxSessions 10

PubkeyAuthentication {{ ssh_pubkey_auth }}

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile	.ssh/authorized_keys

#AuthorizedPrincipalsFile none

{% if ssh_authorized_keys_command == "none" %}#AuthorizedKeysCommand none{% else %}AuthorizedKeysCommand {{ ssh_authorized_keys_command }}{% endif +%}
{% if ssh_authorized_keys_command_user == "nobody" %}#AuthorizedKeysCommandUser nobody{% else %}AuthorizedKeysCommandUser {{ ssh_authorized_keys_command_user }}{% endif +%}

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
#HostbasedAuthentication no
# Change to yes if you don't trust ~/.ssh/known_hosts for
# HostbasedAuthentication
#IgnoreUserKnownHosts no
# Don't read the user's ~/.rhosts and ~/.shosts files
#IgnoreRhosts yes

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication {{ ssh_password_auth }}
#PermitEmptyPasswords no

# Change to no to disable s/key passwords
KbdInteractiveAuthentication {{ ssh_kbdinteractive }}

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no
#KerberosUseKuserok yes

# GSSAPI options
GSSAPIAuthentication {{ ssh_gssapi_auth }}
GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no
#GSSAPIKexAlgorithms {{ ssh_crypto_gssapi_kex_algos | default(__ssh_crypto_gssapi_kex_algos, true) | join(',') }}
#GSSAPIEnablek5users no


# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the KbdInteractiveAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via KbdInteractiveAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and KbdInteractiveAuthentication to 'no'.
# WARNING: 'UsePAM no' is not supported in RHEL and may cause several
# problems.
UsePAM {{ ssh_use_pam }}

#AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
X11Forwarding {{ ssh_x11_forwarding }}
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
PrintMotd no
#PrintLastLog yes
#TCPKeepAlive yes
#PermitUserEnvironment no
#Compression delayed
#ClientAliveInterval 0
#ClientAliveCountMax 3
UseDNS {{ ssh_use_dns }}
#PidFile /var/run/sshd.pid
MaxStartups {{ ssh_maxstartups | default(__ssh_maxstartups, true) }}

PermitTunnel {{ ssh_permit_tunnel }}
#ChrootDirectory none
#VersionAddendum none

# no default banner path
#Banner none

# override default of no subsystems
Subsystem	sftp	{{ ssh_sftp_server | default(__ssh_sftp_server, true) }}

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server

{% if ssh_allowusers | length >0 %}AllowUsers {% for user in ssh_allowusers %}{{ user }} {% endfor %}{% endif %}

{% if ssh_allowgroups | length >0 %}AllowGroups {% for group in ssh_allowgroups %}{{ group }} {% endfor %}{% endif %}
